### 12. API 통신

#### 라이브러리

In [3]:
import numpy as np
import pandas as pd
import json
import urllib
import requests

In [ ]:
# !pip install lxml
# !pip install html5lib

#### pandas를 이용한 간단한 통신과 json 형식 다루기.

In [1]:
import pandas as pd

# 한국천문 연구원 월 달력 자료
tables = pd.read_html('https://astro.kasi.re.kr//life/pageView/5',encoding='utf-8') 
df_astro = tables[0]
print(df_astro.shape)
print(df_astro.info())
df_astro.head()

# df_krx = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13',encoding='cp949')[0]
# df_krx['종목코드'] = df_krx['종목코드'].map('{:06d}'.format)
# df_krx.sort_values(by='종목코드')
# df_krx.head(10)

(30, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   그레고리력   30 non-null     object
 1   음력      30 non-null     object
 2   음력간지    30 non-null     object
 3   요일      30 non-null     object
 4   율리우스력   30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB
None

           그레고리력             음력                     음력간지   요일          율리우스력
0  2025년 06월 01일  2025년 05월 06일  을사(乙巳)년 임오(壬午)월 신축(辛丑)일  일요일  2025년 05월 19일
1  2025년 06월 02일  2025년 05월 07일  을사(乙巳)년 임오(壬午)월 임인(壬寅)일  월요일  2025년 05월 20일
2  2025년 06월 03일  2025년 05월 08일  을사(乙巳)년 임오(壬午)월 계묘(癸卯)일  화요일  2025년 05월 21일
3  2025년 06월 04일  2025년 05월 09일  을사(乙巳)년 임오(壬午)월 갑진(甲辰)일  수요일  2025년 05월 22일
4  2025년 06월 05일  2025년 05월 10일  을사(乙巳)년 임오(壬午)월 을사(乙巳)일  목요일  2025년 05월 23일

In [2]:
import pandas as pd
import json

data = {'name': ['아이유', '김연아', '홍길동'], 
        'dept': ['CS', 'Math', 'Mgmt'],
        'age': [25, 29, 30]}

# dict => df 
df = pd.DataFrame(data)  

with open('./data/csv_to_json.json', 'w', encoding='utf-8') as f:
    df.to_json(f, force_ascii=False, orient='columns')

#### urllib

In [3]:
import os
import numpy as np
import pandas as pd
import json
import urllib
from urllib import request
import requests

In [4]:
# 서버 쪽에 http request 라이브러리를 통해서 해야함 요청 >> urllib 사용.
# 영화진흥위원회 Open API를 호출하기를 위한 url
# https://www.kobis.or.kr/kobisopenapi/homepg/main/main.do
movie_url = 'http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json'
# key 값과 targetDt
key = '1a7bcecc9db1eb54ae22dd8b9c83a3a1'
date = "20250605" 
query_string = f'?key={key}&targetDt={date}'
last_url = movie_url + query_string

print(f"ready url : {last_url}")

ready url : http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=1a7bcecc9db1eb54ae22dd8b9c83a3a1&targetDt=20250605

In [5]:
# Url을 이용하여 api 호출
result_obj = request.urlopen(last_url) 
# response
print(result_obj)

<http.client.HTTPResponse object at 0x799c94b371f0>

In [6]:
# 가져온 json 데이터를 dictionary로 
result_json = result_obj.read()  
result_dict = json.loads(result_json)  
print(result_dict)

{'boxOfficeResult': {'boxofficeType': '일별 박스오피스', 'showRange': '20250605~20250605', 'dailyBoxOfficeList': [{'rnum': '1', 'rank': '1', 'rankInten': '0', 'rankOldAndNew': 'OLD', 'movieCd': '20211791', 'movieNm': '하이파이브', 'openDt': '2025-05-30', 'salesAmt': '541611670', 'salesShare': '33.0', 'salesInten': '144132410', 'salesChange': '36.3', 'salesAcc': '6925116890', 'audiCnt': '61022', 'audiInten': '16508', 'audiChange': '37.1', 'audiAcc': '749750', 'scrnCnt': '1329', 'showCnt': '4720'}, {'rnum': '2', 'rank': '2', 'rankInten': '0', 'rankOldAndNew': 'OLD', 'movieCd': '20246489', 'movieNm': '미션 임파서블: 파이널 레코닝', 'openDt': '2025-05-17', 'salesAmt': '431517340', 'salesShare': '26.3', 'salesInten': '149157240', 'salesChange': '52.8', 'salesAcc': '27038124800', 'audiCnt': '45540', 'audiInten': '15562', 'audiChange': '51.9', 'audiAcc': '2743364', 'scrnCnt': '1298', 'showCnt': '3762'}, {'rnum': '3', 'rank': '3', 'rankInten': '0', 'rankOldAndNew': 'OLD', 'movieCd': '20254722', 'movieNm': '신명', 'openDt': '2025-06-02', 'salesAmt': '250368030', 'salesShare': '15.2', 'salesInten': '45898980', 'salesChange': '22.4', 'salesAcc': '1982319080', 'audiCnt': '27347', 'audiInten': '5121', 'audiChange': '23', 'audiAcc': '208052', 'scrnCnt': '628', 'showCnt': '1402'}, {'rnum': '4', 'rank': '4', 'rankInten': '0', 'rankOldAndNew': 'OLD', 'movieCd': '20231495', 'movieNm': '소주전쟁', 'openDt': '2025-05-30', 'salesAmt': '138512860', 'salesShare': '8.4', 'salesInten': '14662440', 'salesChange': '11.8', 'salesAcc': '2053017120', 'audiCnt': '15826', 'audiInten': '1705', 'audiChange': '12.1', 'audiAcc': '218574', 'scrnCnt': '819', 'showCnt': '2182'}, {'rnum': '5', 'rank': '5', 'rankInten': '0', 'rankOldAndNew': 'OLD', 'movieCd': '20247590', 'movieNm': '릴로 & 스티치', 'openDt': '2025-05-21', 'salesAmt': '68041270', 'salesShare': '4.1', 'salesInten': '21799570', 'salesChange': '47.1', 'salesAcc': '3725744800', 'audiCnt': '7515', 'audiInten': '2434', 'audiChange': '47.9', 'audiAcc': '395857', 'scrnCnt': '482', 'showCnt': '744'}, {'rnum': '6', 'rank': '6', 'rankInten': '0', 'rankOldAndNew': 'OLD', 'movieCd': '20254602', 'movieNm': '씨너스: 죄인들', 'openDt': '2025-05-28', 'salesAmt': '39759820', 'salesShare': '2.4', 'salesInten': '14816080', 'salesChange': '59.4', 'salesAcc': '597803180', 'audiCnt': '3456', 'audiInten': '1254', 'audiChange': '56.9', 'audiAcc': '52451', 'scrnCnt': '193', 'showCnt': '262'}, {'rnum': '7', 'rank': '7', 'rankInten': '6', 'rankOldAndNew': 'OLD', 'movieCd': '20253797', 'movieNm': '극장판 프로젝트 세카이 부서진 세카이와 전해지지 않는 미쿠의 노래', 'openDt': '2025-05-29', 'salesAmt': '24365800', 'salesShare': '1.5', 'salesInten': '17202600', 'salesChange': '240.2', 'salesAcc': '404582370', 'audiCnt': '2746', 'audiInten': '1980', 'audiChange': '258.5', 'audiAcc': '42556', 'scrnCnt': '134', 'showCnt': '230'}, {'rnum': '8', 'rank': '8', 'rankInten': '9', 'rankOldAndNew': 'OLD', 'movieCd': '20254525', 'movieNm': '기타맨', 'openDt': '2025-05-30', 'salesAmt': '15270800', 'salesShare': '0.9', 'salesInten': '11277300', 'salesChange': '282.4', 'salesAcc': '63848500', 'audiCnt': '1951', 'audiInten': '1407', 'audiChange': '258.6', 'audiAcc': '8038', 'scrnCnt': '53', 'showCnt': '66'}, {'rnum': '9', 'rank': '9', 'rankInten': '0', 'rankOldAndNew': 'NEW', 'movieCd': '20254805', 'movieNm': '단다단: 사안', 'openDt': ' ', 'salesAmt': '13531100', 'salesShare': '0.8', 'salesInten': '13531100', 'salesChange': '100', 'salesAcc': '13531100', 'audiCnt': '1419', 'audiInten': '1419', 'audiChange': '100', 'audiAcc': '1419', 'scrnCnt': '66', 'showCnt': '109'}, {'rnum': '10', 'rank': '10', 'rankInten': '1', 'rankOldAndNew': 'OLD', 'movieCd': '20254481', 'movieNm': '알사탕', 'openDt': ' ', 'salesAmt': '6560000', 'salesShare': '0.4', 'salesInten': '1875000', 'salesChange': '40', 'salesAcc': '233865000', 'audiCnt': '1312', 'audiInten': '375', 'audiChange': '40', 'audiAcc': '46771', 'scrnCnt': '174', 'showCnt': '242'}]}}

In [7]:
rank_list = []  #
title_list = []
sales_list = []

for info in result_dict['boxOfficeResult']['dailyBoxOfficeList']:
    rank_list.append(info['rank'])
    title_list.append(info['movieNm'])
    sales_list.append(info['salesAmt'])
# list 확인
print(rank_list)
print(title_list)
print(sales_list)

df = pd.DataFrame({
    'rank': rank_list,
    'title': title_list,
    'salesAmt': sales_list
})  

df = df.set_index(keys='rank')
df

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
['하이파이브', '미션 임파서블: 파이널 레코닝', '신명', '소주전쟁', '릴로 & 스티치', '씨너스: 죄인들', '극장판 프로젝트 세카이 부서진 세카이와 전해지지 않는 미쿠의 노래', '기타맨', '단다단: 사안', '알사탕']
['541611670', '431517340', '250368030', '138512860', '68041270', '39759820', '24365800', '15270800', '13531100', '6560000']

                                     title   salesAmt
rank
1                                    하이파이브  541611670
2                         미션 임파서블: 파이널 레코닝  431517340
3                                       신명  250368030
4                                     소주전쟁  138512860
5                                 릴로 & 스티치   68041270
6                                 씨너스: 죄인들   39759820
7     극장판 프로젝트 세카이 부서진 세카이와 전해지지 않는 미쿠의 노래   24365800
8                                      기타맨   15270800
9                                  단다단: 사안   13531100
10                                     알사탕    6560000

### requests

In [8]:
import requests

url = 'https://www.python.org/search/?q=dict&submit='
response = requests.get(url)
response

In [9]:
url = 'https://www.python.org/search'
params = {
    'q':'파이썬',
    'submit':''
}
response = requests.get(url, params)
print(response.url)

https://www.python.org/search/

In [11]:
url = 'http://www.naver.com'
#url = 'http://www.daum.net'
headers = {
    'user-agent': 'Mozilla/5.0 (Linux; Android 8.0.0; SM-G955U Build/R16NW) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Mobile Safari/537.36'
}
response = requests.get(url, headers=headers) # 요청 헤더 추가
print(response.url)

https://m.naver.com

- 응답 코드 확인
- 200 : 정상
- 404 : File Not Found 등등

In [30]:
url = 'https://www.python.org/search/?q=dict&submit='
response = requests.get(url)
print(response.status_code)

200

In [12]:
url = 'https://www.python.org/search/?q=dict&submit='
response = requests.get(url)
print(type(response.text))

<class 'str'>

In [14]:
url = 'https://jsonplaceholder.typicode.com/comments'
params = {
    'id':350,
}
response = requests.get(url,params)
print(type(response.json()))
response.json()

<class 'list'>

[{'postId': 70,
  'id': 350,
  'name': 'eius quia pariatur',
  'email': 'Arjun@natalie.ca',
  'body': 'eaque rerum tempore distinctio\nconsequatur fugiat veniam et incidunt ut ut et\nconsequatur blanditiis magnam\ndoloremque voluptate ut architecto facere in dolorem et aut'}]

In [15]:
url = 'https://www.python.org/static/img/python-logo.png'
# https://www.python.org/static/img/python-logo.png
file_name = './data/byte_of_python2.png'
file_down = requests.get(url)
with open(file_name, 'wb') as f:
    f.write(file_down.content)
    print('download python-log image')

download python-log image